:root { 
  --dc-blue-1: #1d2761;
  --dc-blue-2: #29367c;
  --dc-blue-3: #3b4890;

  --layout-max-width: 1300px;
  --layout-min-width: 300px;
}

*,*::before,*::after {
  box-sizing: border-box;
}

article,aside,figcaption,figure,footer,header,hgroup,main,nav,section {
  display: block;
}

html {
  /* 1rem = 10px */
  font-size: 62.5%; 
}

body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont,NanumBarunGothicOTF,NanumBarunGothic,system-ui,sans-serif;
	font-size: 1.6rem;
	font-weight: 400;
	line-height: 1.5;
	text-align: left;
	min-width: var(--layout-min-width);
}
